@import "tailwindcss";

:root {
  /* --foreground: #ffffff;
  --background: #171717; */
  /* --primary: #6dd34a; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: var(--font-roboto);

  --color-verde: #6dd34a;
  --color-gris: #1a1a1a;
}
 /* *{
  border: 1px solid red
}   */


body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-roboto);
   margin: 0;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

/* SWIPER SLIDER STYLES */
.swiper-button-next,
.swiper-button-prev {
  padding: 4px;
  width: 50px !important;
  height: 50px !important;
  color: gray !important;
  z-index: 10;
}
.swiper-pagination-progressbar-fill {
  background: #6dd34a !important;
}
/* .................. */
.transparent-text {
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

/* animated sidebar styles */


/* 
.sidebar a.menu-toggle {
  display: flex;
  position: relative;
}
.sidebar  a.menu-toggle:hover:before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #a7bcca;
  left: 0;
  top: 0;
  z-index: -1;
}

.sidebar  aside {
  height: 100vh;
  transform: translateX(-100%)
}

.sidebar aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .main {
  padding-top: 1.2em;
  padding-left: .5em;
  transform: translateX(-200%);
  height: max-content;
}
 */



